<div class="nav">
    <a class="logo">AppleForum</a>
    <a href="/list">List</a>
    <a href="/post/write">Write</a>
    <a href="/myPage">MyPage</a>
    <a href="/login">LogIn</a>
    <a href="/logout">LogOut</a>
</div>